.contact-content {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  background-image: url(./../../public/media/contact-background.avif);
  background-size: cover;
  background-repeat: no-repeat;
  .contact-nav {
    width: 20%;
    height: 100%;
  }
  .contact-main-content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-me {
      border: 1px solid $primaryColor;
      width: 450px;
      height: 320px;
      border-radius: 15px;
      background-color: $backgroundColor;
      font-size: 1.5rem;
      padding: 1rem;
      i {
        width: 60px;
        height: 60px;
        margin-right: 1.5rem;
      }
      .social {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        i {
          font-size: 2rem;
          margin: 0;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}
